tests/images/**/*.jpg filter=lfs diff=lfs merge=lfs -text
tests/images/**/*.png filter=lfs diff=lfs merge=lfs -text
planet_ruler/benchmarks/images/pexels-*_exif.jpg filter=lfs diff=lfs merge=lfs -text
